.active{
    text-decoration: underline;
}
.row2{ 
    font-size: 15px;
    color: #ADAFAA; 
    max-width: 1150px;
    width: 100%;
    height: 270px;
    background-color: white;
    margin-left: auto; 
    margin-right: auto; 
    margin-top:80px;  
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}
.work{
    background-color: white;
    max-width: 500px; 
    height: 20px; 
    margin: 0 auto; 
    margin-top: 0px; 
    padding-right: 0px;
    font-size: 26px; 
    text-align: center; 
    font-family: Moon, roboto; 
    position: relative; 
    text-transform: uppercase;
    font-weight: 200; 
}
.work ul{
    padding-left: 0px;
}
.work li{
    display: inline; 
    padding: 15px;
}
.work li a{
    text-decoration: none; 
    color: black;  
}
.hover11 figure img {
	opacity: 9;
	-webkit-transition: .0,5s ease-in-out;
	transition: .0,5s ease-in-out;
    width: 380px; 
    height: 220px; 
    height: auto; 
    float: left;  
    position: relative; 
}
.hover11 figure:hover img {
	opacity: .6;
}
.header{
    max-width: 800px; 
    width: 100%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 20px;
}
.header img{
    width: 100%;
    
}
.figure {
    width: 300px;
    height: 260px; 
    position: relative; 
    float: left;
}
figure figcaption {
    position: absolute; 
    bottom: 0; 
    font-family: futura; 
    font-size: 20px; 
    color: white; 
    width:300px;  
    height: 60px; 
    text-transform: uppercase; 
    font-weight:400;
    text-align: center;
    margin-top: 40px; 

}

h2{
    font-family: roboto; 
    font-weight: 1000;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    top: 80px; 
    left: 25px; 
    font-size: 45px; 
    opacity: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
}
figure:hover h2{
    opacity: 1;
}
.brodtext{
    width: 800px; 
    height: 230px; 
    margin-left: auto; 
    margin-right: auto; 
    font-family: futura; 
    margin-top: 50px; 
    margin-bottom: 50px; 

}
.brodtext2{
    width: 90%;
    max-width: 800px;
    height: auto; 
    margin-left: auto; 
    margin-right: auto; 
    font-family: Myriad Pro; 
    margin-top: 9px; 
    margin-bottom: 40px;     
}
.elletext{
    width: 90%;
    max-width: 800px;
    height: auto; 
    margin-left: auto; 
    margin-right: auto; 
    font-family: Myriad Pro; 
    margin-top: 30px; 
}


.row3{ 
    font-size: 15px;
    color: #ADAFAA; 
    width: 100%;
    max-width: 1050px;
    max-height: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px; 
    text-align: center;
    clear: both;
}

.row3:last-child{
    margin-bottom: 100px;
    height: 400px; 
}

.figure2{
    width: 33%;
    float: left;
    overflow:hidden;
}
.figure2 img{
    width: 100%; 
    
}
figure img{
    width: 33%;
    height: auto;

}
.icons img {
    width: 85px; 
    height: 85px;
    padding-left: 10px; 
}
.icons{
    max-width: 450px; 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px; 
    
    }
.headline1{
    font-family: futura; 
    font-size: 32px; 
    width: 100%; 
    font-weight: 300;
    margin-top: 100px; 
    text-align: center;
    text-transform: uppercase;
}
.pf{
    width: 800px; 
    max-width: 100%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;

}
.pf img{
    max-width: 100%;
    height: auto;
    width: 800px;
}
.flora p{
    width: 210px; 
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 40px; 
    font-family: futura; 
    font-weight: 500; 
}
.row8{ 
    font-size: 15px;
    color: #ADAFAA; 
    width: 800px; 
    height: 250px;
    background-color: white;
    margin-left: auto;
    margin-right: auto; 
}
.row9{ 
    font-size: 15px;
    color: #ADAFAA; 
    width: 800px; 
    height: 250px;
    background-color: white;
    margin-left: auto;
    margin-right: auto; 
}
.owl-dot{
    height: 10px;
    width: 10px;
    display: inline-block;
border-radius: 100%;
background-color: lightgrey;
    margin-top: 20px;     
}
.owl-dot.active{
background-color: darkgray;
}
.owl-dots{
text-align: center;
}

.greta-text{
margin-bottom: 50px; 
    width: 600px; 
    height: 110px; 
    margin-left: auto; 
    margin-right: auto; 
    font-family: futura; 
    margin-top: 50px; 
    margin-bottom: 50px
}
.bredd{
    height: 300px; 
    background-color: white;

}
.rad{
    width: 100px;
    height: 30px; 
    background-color: white; 
}
.video{
    text-align: center;
}
.pfs{
    width: 800px; 
    max-width: 100%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

}
.pfs img{
    max-width: 100%;
    height: auto;
    width: 800px;
}
.content{
    margin-bottom: 50px;
    width:100%;
    float: left;
}
#text{
    width: 500px; 
    max-width: 100%;
    height: 500px;
    font-family: futura; 
    color: black; 
    font-size: 17px; 
    word-spacing: 2px;
    line-height: 1,5;
    
}


.profil img{
    width: 95%; 
    height: auto; 
    padding-top: 40px; 
}
.profil{
    max-width: 300px;
    width: 100%; 
    height: auto; 
    float: left; 
    display: inline-block; 
    vertical-align: top;  
    
}
h1{
    font-family: futura; 
    font-size: 17px; 
    font-weight: 600; 
    text-transform: uppercase;
    text-align: right; 
    padding-top: 50px; 
}
#text{
    width: 90%;
    max-width: 300px; 
    float: left;
    display: inline-block; 
    vertical-align: top;  
    font-family: Myriad Pro;
    font-size: 15px;
}
.box{
    width:100%;
    max-width: 600px;
    margin: 0 auto;

}
.textcontact{
    width: 100%;
    max-width: 400px; 
    height: auto; 
    margin: 0 auto; 
    font-family: Myriad Pro; 
    color: black; 
    font-size: 16px;
    margin-bottom: 50px; 
    padding-top: 30px; 
}




@media screen and (max-width: 500px) {
 .left, .right{ 
   width: 100%;
 }
    
    .figure2{
    width: 100%;
    max-height: 500px; 
        
    }

}